<!DOCTYPE html>
<html ng-app="ForestAdmin">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">

    <!-- JS -->>
    {% javascript_asset_tag global %}
    - /_assets/js/jquery.min.js
    - /_assets/js/ScrollMagic.min.js
    - /_assets/js/debug.addIndicators.min.js
    - /_assets/js/angular.min.js
    - /_assets/js/angular-scroll.min.js
    - /_assets/js/docsearch.min.js
    - /_assets/js/highlight.min.js
    - /_assets/js/lumberjack.js
    {% endjavascript_asset_tag %}

    <!-- CSS -->
    {% css_asset_tag global %}
    - /_assets/app.scss
    - /_assets/docsearch.min.css
    - /_assets/zenburn.min.css
    {% endcss_asset_tag %}
  </head>

  <body ng-controller="HomeCtrl">

    <div class="l-header">
      <div class="l-container">
        <a href="/" class="l-header__logo" target="_self"></a>
        <ul class="l-header__nav">
          {% for item in site.menus.header %}
          <li>
            <a href="{{item.url}}" target="_self" {% if item.url == page.url %}class="active"{% endif %}>{{item.title}}</a>
          </li>
          {% endfor %}
        </ul>


        <ul class="l-header__nav">
          <form class="l-header__signup l-pt l-pb" method="GET" action="//app.forestadmin.com/welcome">
            <input class="c-form__element" id="email-address" name="email" placeholder="Your email address…" type="text" >
            <button type="submit" class="c-btn c-btn--primary">Get Started</button>
          </form>
        </ul>
      </div>
    </div>

    <div class="l-page">
      <div id="toc" class="l-sidebar" du-scroll-container="scroll-container">
        <input id="search" name="search" placeholder="What are you looking for?" type="text">
      </div>


      <div id="scroll-container" du-scroll-container class="l-content">
        <div class="l-content__cover l-content__cover--developers-guide">
          <h1>
            Developer Guide
            <span class="l-content__subtitle">For {{page.title}}</span>
          </h1>
        </div>

        <div class="l-content__wrapper">
          {{content}}
        </div>
      </div>
    </div>

    <script>
      $('.l-content').scroll(function () {
        $('.l-content__cover').css({'background-position' : '50% ' + ($(this).scrollTop() / 2) + 'px', 'margin-top' : '-' + ($(this).scrollTop() / 40) + 'px'});
      });
    </script>
        <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('r76hz8n6cnyn');
    </script>
    <!-- End of Async Drift Code -->
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript"> docsearch({
       apiKey: 'af3041a533369af9ec173043a713591f',
       indexName: 'forestadmin',
       inputSelector: '#search',
       debug: false // Set debug to true if you want to inspect the dropdown
    });
  </script>
  </body>
</html>
