<!DOCTYPE html>
<html ng-app="ForestAdmin">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">

    <!-- JS -->>
    {% javascript_asset_tag global %}
    - /_assets/js/jquery.min.js
    - /_assets/js/ScrollMagic.min.js
    - /_assets/js/debug.addIndicators.min.js
    - /_assets/js/angular.min.js
    - /_assets/js/angular-scroll.min.js
    - /_assets/js/docsearch.min.js
    - /_assets/js/highlight.min.js
    - /_assets/js/lumberjack.js
    {% endjavascript_asset_tag %}

    <!-- CSS -->
    {% css_asset_tag global %}
    - /_assets/app.scss
    - /_assets/docsearch.min.css
    - /_assets/zenburn.min.css
    {% endcss_asset_tag %}

  </head>
  <body ng-controller="HomeCtrl">

   <div class="l-header">
      <div class="l-container">
        <a href="/" class="l-header__logo" target="_self"></a>

        <ul class="l-header__nav">
          <form class="l-header__signup l-pt l-pb" method="GET" action="//app.forestadmin.com/welcome">
            <input class="c-form__element" id="email-address" name="email" placeholder="Your email address…" type="text" >
            <button type="submit" class="c-btn c-btn--primary">Get Started</button>
          </form>
        </ul>
      </div>
    </div>

    <div class="l-page">
      <input id="search" name="search" placeholder="What are you looking for?" type="text">

      <div id="toc" class="l-sidebar" du-scroll-container="scroll-container">
      </div>


      <div id="scroll-container" du-scroll-container class="l-content">
        <div class="l-content__cover l-content__cover--knowledge-base">
          <h1>Knowledge Base</h1>
        </div>

        <div class="l-content__wrapper">
          {{content}}
        </div>
      </div>
    </div>

    <script>
      $('.l-content').scroll(function () {
        $('.l-content__cover').css({'background-position' : '50% ' + ($(this).scrollTop() / 2) + 'px', 'margin-top' : '-' + ($(this).scrollTop() / 40) + 'px'});
      });
    </script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript"> docsearch({
       apiKey: 'af3041a533369af9ec173043a713591f',
       indexName: 'forestadmin',
       inputSelector: '### REPLACE ME ####',
       debug: false // Set debug to true if you want to inspect the dropdown
    });
  </script>
  </body>
</html>
